<div class="new">
  <div class="background-new">
    <h1 style="color: black">Sign in</h1>
  </div>

  <%= form_for :user, url: sessions_path do |f| %>
    <div class="form-group">
      <h4> <%= f.label :email %> </h4>
      <%= f.text_field :email, required: true, id: "user_field", class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4> <%= f.label :password %> </h4>
      <%= f.password_field :password, id: "password_field", class: 'form-control' %>
    </div>

    <div class="font-feature-new text-center">
      <%= f.submit "Login", class: "btn btn-success btn-lg" %>
      <%= link_to "Sign up", new_user_path, class: "btn btn-info btn-lg"%>
      <%= link_to "Back to all topics", topics_path, class: "btn btn-info btn-lg"%>

    </div>
  <% end %>

</div>
