<div class="comment-array text-center">

  <div class="form-group">
    <h4 class="text-center"> Comment Image </h4>
    <div id="preview-image">
      <% if comment.image? %>
      <%= image_tag comment.image, class: "img-settings img-responsive center-block" %>
      <% end %>
    </div>
  </div>

  <div class="comment-item">
    <h5 class="font-feature-2"><%= comment.body %>
    </h5>

    <%= link_to edit_topic_post_comment_path(@topic, @post, comment) do%>
    <%= fa_icon "edit 2x", class: "btn btn-success btn-lg" %>
    <% end %>

    <%= link_to topic_post_comment_path(@topic,@post,comment), method: :delete do%>
    <%= fa_icon "trash 2x", class: "btn btn-danger btn-lg" %>
    <% end %>

  </div>

</div>
