<div class="comments">
  <div class="background">
    <h1 style="color: white; font-size: 50px">Comments</h1>
  </div>

  <div style="margin: 30px" class="form-group text-center">
    <%= link_to "Back to all topics", topics_path, class: "btn btn-info btn-lg"%>
    <%= link_to "Back to all posts", topic_posts_path, class: "btn btn-info btn-lg"%>
    <%= link_to "Delete Post", topic_post_path(@topic,@post), method: :delete, class: "btn btn-danger btn-lg", data: { confirm: "Delete?"} %>
  </div>


  <div style="margin: 5px" class="new-comment">
    <% @comments.each do |comment| %>
    <div id="comments-form-container">
      <%= render partial: "comments", locals: { comment: comment, post: @post } %>
    </div>
  <% end %>

  <div style="margin: 5px" class="new-comment">
    <div id="comments-form-container">
      <%= render partial: "comments/create_form", locals: { comment: @comment, post: @post } %>
    </div>


    </div>
  </div>
