<div class="landing">
  <div class="background">
    <div class="content">
      <h1 style="font:italic bold 70px Georgia, serif; color: white"> - Workspacity - </h1>
      <h3 style="font family:verdana; color: white; opacity: 0.5;text-align:center"> A place for freelancers to gather </h3>
    </div>
  </div>

  <div class="background-2">
    <div class="content text-center">
      <div class="h2">
        <h2 style="color: white; font-size: 50px;">
          FIND YOUR BEST PROFESSIONALS
        </h2>
      </div>
      <div class="content-main-about text-center">
        <p class="font-feature-main-about">
          Workspacity helps you hire the best professionals from videographers, to photographers, studio location, stylists, caterer etc. you name it! Search packages which suit your appetite or ask for quotation for customization, at incredible prices from the best providers. Buy the professional service, save your time shopping around, get your payment protected with Workspacity!
        </p>
      </div>

    </div>
  </div>

  <div class="background-3">
    <div class="content">
      <h2 style="color: #204060; font-size: 35px;"> WE CONNECT THE RIGHT PHOTOGRAPHIC CREATIVE TALENTS </h2>
    </div>
  </div>

  <div class="background-4 text-center">
    <p style="color: #204060; font-size: 35px;">
      "photography is a love affair with life"
    </p>

  </div>

  <section class="features-container">
    <h1 class="feature-title text-center">
      Awesome Features
    </h1>
    <hr class="short-underline">

    <div class="features text-center">
      <div class="feature">
        <%= fa_icon 'home spin 5x border'%>
        <h5 class="font-feature-1"> Continue the blocks </h5>
      </div>
      <div class="feature">
        <%= fa_icon 'globe 4x',class: "fa-pulse fa-5x" %>
        <h5 style="color: purple; font-size: 20px;"> Continue the blocks </h5>
      </div>
      <div class="feature">
        <%= fa_icon "refresh",class: "fa-spin fa-5x fa-fw" %>
        <h5 style="color: red; font-size: 30px;"> Continue the blocks </h5>
      </div>
      <div class="feature">
        <%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-5x" %>
        <h5 style="color: green; font-size: 40px;"> Continue the blocks </h5>
      </div>
    </div>
  </section>

  <section class="images">
    <div class="image">
      <div class="invisible-layout">
        <div class="content-hover">
          <h3>Hover 1!</h3>
        </div>
      </div>
      <%= image_tag "pineapple.jpg", class: 'image-box'%>
    </div>
    <div class="image">
      <div class="invisible-layout">
        <div class="content-hover">
          <h3>Hover 2!</h3>
        </div>
      </div>
      <%= image_tag "Camera.jpg", class: 'image-box'%>
    </div>
    <div class="image">
      <div class="invisible-layout">
        <div class="content-hover">
          <h3>Hover 3!</h3>
        </div>
      </div>
      <%= image_tag "applewatch.jpg", class: 'image-box'%>
    </div>
    <div class="image">
      <div class="invisible-layout">
        <div class="content-hover">
          <h3>Hover 4!</h3>
        </div>
      </div>
      <%= image_tag "kicks.jpg", class: 'image-box'%>
    </div>
  </section>

  <section class="features-container text-center">
    <h1 class="feature-title text-center">
      My Contact Information
    </h1>
    <hr class="short-underline">
    <div class="">
      <%= link_to "About Me!", about_path, class: 'btn button' %>
      <%= link_to "About Me", about_path, class: "btn btn-primary" %>
    </div>

    <p class="font-feature-2 text-center"> askahjkshkjhsjakhdkjshkjfhsdkjhfkjsdhfjkhsdkjfhsdkjhfkjsdhfkjsdhkjfhsdkjfhjksdhfkjshdjkfhdk
    </p>

    <div class="features text-center">
      <div class="feature">
        <%= fa_icon 'phone 5x wow bounceIn'%>
        <p> +1-666-420-6969 </p>
      </div>
      <div class="feature">
        <%= fa_icon 'envelope-o 5x wow bounceIn'%>
        <h5 style="color: purple; font-size: 20px;"> Continue the blocks </h5>
      </div>
    </div>
  </section>


</div>
