<div class="footer">
  <div class="background-5 text-center">
    <div>
      <div class="flex-alignment">
        <p class="circle font-logo">
          W
        </p>
      </div>
      <div class="social-media-parent">
        <div class="font-email">
          At Workspacity,
          <br>
          we connect the right talent with your requirement.
          <br>
          Find us on:
        </div>

      </div>

      <div class="flex-alignment">
        <div class="">

          <%= link_to "http://www.facebook.com/workspacity", target: :_blank do %>
          <%= image_tag("facebook.png", class: "social-media", alt: "Facebook") %>
          <% end %>

          <%= link_to "https://twitter.com/workspacityteam", target: :_blank do %>
          <%= image_tag("twitter.png", class: "social-media", alt: "Twitter") %>
          <% end %>

          <%= link_to "https://www.youtube.com/channel/UCGkYhwjkmpvn-b1VP0BQ8AA", target: :_blank do %>
          <%= image_tag("youtube.png", class: "social-media", alt: "Youtube") %>
          <% end %>

          <%= link_to "https://www.pinterest.com/workspacity/", target: :_blank do %>
          <%= image_tag("pinterest.png", class: "social-media", alt: "Pinterest") %>
          <% end %>

        </div>
      </div>

      <div class="social-media-child font-email">
        FAQ | Terms of Use | Blog
      </div>

    </div>
  </div>
</div>
