<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <%= link_to "Workspacity", root_path, class: "navbar-brand" %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-dropdown" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

    <div class="collapse navbar-collapse" id="header-dropdown">
      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
        <li id="Username" class="pointah" data-toggle="modal" id="User" data-target="#user-edit-modal">
          <a class="font-header"> <%= "Welcome back, #{current_user.username}!"%> </a>
        </li>
        <li><%= link_to "Logout", session_path(current_user), method: :delete, class: 'white shadowed link-styling' %></li>
        <% else %>
        <li id="Register" class="pointah" data-toggle="modal" id="Register" data-target="#user-create-modal"> <a>Register</a> </li>
        <li id="Login" class="pointah" data-toggle="modal" id="Login" data-target="#user-login-modal"><a>Login</a></li>
        <li id="Reset Password" class="pointah" data-toggle="modal" id="Password Reset" data-target="#password-reset-modal">
          <a>Reset Password</a></li>
          <% end %>
          <li id="Topic"><%= link_to "How it Works", how_it_works_path %></li>
          <li id="Topic"><%= link_to "Journal", topics_path %></li>
          <li id="About"><%= link_to "About Us", about_path %></li>
          <li id="Product"><%= link_to "Product", products_index_path %></li>

          <%if current_order.nil? %>
          <li id="Cart"><%= render partial:'partials/cart_text' %></li>
          <% end %>

        </ul>
      </div>
      </div>
    </nav>
  </div>
