<div class="edit">

  <div class="background-edit">
    <h1 style="color: black">Edit: <%= @post.title %></h1>
  </div>

  <div class="form-edit">
    <%= form_for(@post, url: topic_post_path(@topic, @post), html: { id: "post-update-form" }) do |f| %>
    <h1 class="text-center">
      Update Your Post Here
    </h1>

    <div class="form-group">
      <h4 class="text-center"> Post Image </h4>
      <div id="preview-image">
        <% if @post.image? %>
          <%= image_tag @post.image, class: "img-settings img-responsive center-block" %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.file_field :image, id: "post_image_field", class: 'form-control image-uploader' %>
    </div>

    <div class="form-group">
      <h4> <%= f.label :title_field, "Title" %> </h4>
      <%= f.text_field :title, required: true, id: "post_title_field", class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4> <%= f.label :text_field, "Body" %> </h4>
      <%= f.text_field :body, id: "post_body_field", class: 'form-control' %>
    </div>

    <div class="font-feature-edit text-center">
      <%= link_to "Back to all posts", topic_posts_path, class: "btn btn-info btn-lg"%>
      <%= f.submit "Update Post", class: "btn btn-success btn-lg"%>
    </div>
    <% end %>
  </div>

</div>
