<!DOCTYPE html>
<html>
<head>
  <title>Workspacity</title>
  <%= csrf_meta_tags %>

  <% if current_user && (current_user.admin? || current_user.moderator?) %>
  <meta name="wizardwonka">
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id='header'>
    <%= render partial:'partials/header' %>
    <%= render partial:'partials/new_user' %>
    <%= render partial:'partials/login' %>
    <%= render partial:'partials/edit_user' %>
  </div>
  <div class = "flash_messages" id='flash-messages-container'>
    <%= render partial: "partials/flash_messages" %>
  </div>
  <%= yield %>
</body>
</html>
